@font-face {
  font-family: 'aristotelica_display_trdemiBd';
  src: url('../fonts/aristotelica_display_demibold_trial-webfont.woff2') format('woff2'),
  url('../fonts/aristotelica_display_demibold_trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}